@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.wrapper {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}
/* ================ HEADER ================ */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background-color: transparent;
  transition: background-color 0.4s ease;
}

.header--scrolled {
  background-color: #000;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.125rem;
  flex-wrap: nowrap;
  min-height: 50px;
  padding: 40px 0;
}

.header__logo_img {
  width: 150%;
}

.header__menu_list {
  display: flex;
  flex-wrap: nowrap;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
}

.header__menu_link {
  color: var(--color-white-text);
  text-transform: uppercase;
  font-size: 0.875rem;
  transition: 0.3s all ease;
  font-weight: 500;
}

.header__menu_link:hover {
  color: var(--color-white-text-hover);
  transition: 0.3s all ease;
}

.header__btn {
  background: linear-gradient(
    to right,
    var(--color-bg) 50%,
    var(--color-white-bg) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  border: 1px solid var(--color-white-bg);
  color: var(--color-black-text);
  padding: 1rem 2.2rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  transition:
    background-position 0.3s ease,
    color 0.3s ease;
}

.header__btn:hover {
  background-position: left bottom;
  color: var(--color-white-text);
}

.section__title {
  color: var(--section-title-gray);
  font-size: 0.875rem;
  text-transform: uppercase;
}
