@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.wrapper {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}
/* ================ HEADER ================ */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background-color: transparent;
  transition: background-color 0.4s ease;
}

.header--scrolled {
  background-color: #000;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.125rem;
  flex-wrap: nowrap;
  min-height: 50px;
  padding: 40px 0;
}

.header__logo_img {
  width: 150%;
}

.header__menu_list {
  display: flex;
  flex-wrap: nowrap;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
}

.header__menu_link {
  color: var(--color-white-text);
  text-transform: uppercase;
  font-size: 0.875rem;
  transition: 0.3s all ease;
  font-weight: 500;
}

.header__menu_link:hover {
  color: var(--section-title-gray);
  transition: 0.3s all ease;
}

.header__btn {
  background: linear-gradient(
    to right,
    var(--color-bg) 50%,
    var(--color-white-bg) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  border: 1px solid var(--color-white-bg);
  color: var(--color-black-text);
  padding: 1rem 2.2rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  transition:
    background-position 0.3s ease,
    color 0.3s ease;
}

.header__btn:hover {
  background-position: left bottom;
  color: var(--color-white-text);
}

.section__title {
  color: var(--section-title-gray);
  font-size: 0.875rem;
  text-transform: uppercase;
}

.title {
  color: var(--color-white-text);
  font-size: 2.875rem;
}

/* =================== footer ====================== */
.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__contact {
  display: flex;
  border-top: 1px solid #ffffff36;
  border-bottom: 1px solid #ffffff36;
  padding: 30px 0 120px 0;
}

.footer__contact_left {
  width: 100%;
}

.footer__contact_right {
  display: flex;
  flex-direction: column;
}

.footer__contact_social {
  font-size: 3.125rem;
  color: var(--section-title-gray);
  margin: 0 0 80px 0;
}

.footer__contact_social a {
  color: var(--color-white-text);
  border-bottom: 1px solid #ffffff;
  transition: 0.3s all ease;
}

.footer__contact_social a:hover {
  color: var(--section-title-gray);
  transition: 0.3s all ease;
}
.footer__contact_location {
  display: flex;
  width: 100%;
  padding: 30px 0 0 0;
  border-top: 1px solid #ffffff36;
}

.footer__location_title,
.footer__location_info {
  font-size: 1rem;
  color: var(--section-title-gray);
  font-weight: 500;
}

.footer__location_title {
  margin: 0 40% 0 0;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 0 0;
}

.footer__logo {
  width: 140px;
  align-self: flex-start;
}

.footer__logo_img {
  width: 100%;
}

.footer__menu_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__menu_link {
  transition: 0.3s all ease;
}

.footer__menu_link:hover {
  color: var(--color-white-text);
  transition: 0.3s all ease;
}

.footer__socialMedia {
  align-self: flex-start;
}

.footer__socialMedia_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: right;
}

.footer__socialMedia_link {
  color: var(--color-white-text);
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  font-size: 0.875rem;
  transition: 0.3s all ease;
  font-weight: 500;
}

.footer__socialMedia_link:hover {
  color: var(--section-title-gray);
  transition: 0.3s all ease;
}

.footer__info {
  display: flex;
  padding: 50px 0 30px 0;
}

.footer__rights,
.footer__developedby {
  color: var(--section-title-gray);
  font-weight: 500;
  font-size: 0.875rem;
}

.footer__developedby a {
  color: var(--color-white-text);
  border-bottom: 1px solid #fff;
  transition: 0.3s all ease;
}

.footer__developedby a:hover {
  color: var(--section-title-gray);
  transition: 0.3s all ease;
}
