/* ================== Hello ================ */
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  overflow: hidden;
}

.video-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}
.hello {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 20px;
  overflow: hidden;
}

.hello::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.hello__container {
  z-index: 1;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hello__title {
  font-size: 4rem;
  font-weight: 600;
  line-height: 115%;
}

.hello__subtitle {
  font-size: 1.3rem;
  margin: 0 auto;
  max-width: 700px;
  line-height: 150%;
}

@media (max-width: 768px) {
  .hello__title {
    font-size: 2rem;
  }

  .hello__subtitle {
    font-size: 1rem;
  }
}

/* =================== About Me ================== */
.aboutMe {
  width: 100%;
}

.aboutMe__container {
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.abouMe__title {
  color: var(--color-white-text);
  font-size: 2.375rem;
  font-weight: 400;
}

.aboutMe__text {
  color: var(--section-title-gray);
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}

.video-player {
  position: relative;
  width: 100%;
  max-width: 1096px;
  max-height: 440px;
  margin: 0 auto;
  overflow: hidden;
}

.video-player__video {
  width: 100%;
  height: auto;
  display: block;
  filter: grayscale(100%);
  transition: filter 0.4s ease;
}

.video-player__play {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.273);
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

.video-player__play::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 1px solid #ffffff;
  transition: transform 0.6s ease;
}

.video-player__play:hover::before {
  transform: scale(1.25);
}

/* ================== statistics ====================== */
.statistics__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 80px 0;
}

.statistics__block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.statistics__block_number {
  font-size: 5rem;
  color: var(--color-white-text);
  text-align: center;
}

.statistics__block_title {
  color: var(--section-title-gray);
  font-size: 1rem;
  text-align: center;
}
