:root {
  --color-bg: #000000;
  --color-white-text: #ffffff;
  --color-black-text: #000000;
  --color-white-bg: #ffffff;
  --color-white-text-hover: #cdcdcd;
  --section-title-gray: rgb(150, 150, 150);
}
